{% extends 'base.html' %}
{% load static bootstrap4 %}

{% block title %}
    <title>비밀번호 찾기</title>
{% endblock %}

{% block body %}
    <div class="g-hidden-sm-down">
        <div class="container g-pt-50 g-pb-50">
            <h1 class="g-color-gray-dark-v1 g-font-weight-700">비밀번호 찾기</h1>
            <hr>
        </div>
    </div>
    <div class="g-pb-100--md g-px-30 g-py-30">
        <div class="container bg-white g-p-50">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2 class="g-color-black g-mt-20 g-mb-50">비밀번호 초기화</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <hr class="g-mb-70">
                        <div class="text-right">
                            <button class="btn btn-md btn-dark g-mb-20">변경하기</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
