{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>비밀번호 찾기</title>
{% endblock %}

{% block body %}
    <div class="g-hidden-sm-down">
        <div class="container g-pt-50 g-pb-50">
            <h1 class="g-color-gray-dark-v1 g-font-weight-700">비밀번호 찾기</h1>
            <hr>
        </div>
    </div>
    <div class="g-pb-100--md g-px-30 g-py-30">
        <div class="container bg-white g-p-50">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2 class="g-color-black g-mt-20 g-mb-50">비밀번호 초기화 완료</h2>
                    <p class="g-color-black">새로운 비밀번호가 설정되었습니다. 이제 로그인 하실 수 있습니다.</p>
                    <hr class="g-mb-70">
                    <div class="text-right">
                        <a href="{% url 'login' %}" class="btn btn-md btn-dark g-mb-20">로그인 하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
