{% load static %}

<hr class="g-my-0">
<footer class="g-pt-15 g-pt-40--lg g-pb-20 g-pb-40--lg">
    <div class="container text-white text-center text-md-left">
        <a href="{% url 'about_us' %}" style="text-decoration: none" class="g-color-black g-color-black--hover g-pr-20 g-font-size-14 g-font-size-16--md g-font-weight-600">회사소개</a>
        <a href="{% url 'terms' %}" style="text-decoration: none" class="g-color-black g-color-black--hover g-pr-20 g-font-size-14 g-font-size-16--md g-font-weight-600">이용약관</a>
        <a href="{% url 'privacy' %}" style="text-decoration: none" class="g-color-black g-color-black--hover g-pr-20 g-font-size-14 g-font-size-16--md g-font-weight-600">개인정보처리방침</a>
        <a href="{% url 'search_faq' category='all' %}" style="text-decoration: none" class="g-color-black g-color-black--hover g-font-size-14 g-font-size-16--md g-font-weight-600">FAQ</a>
        <p class="g-mb-0 g-color-gray-dark-v3 g-pt-20 g-font-size-12 g-hidden-md-down">아크스튜디오 (ARC STUDIO) | 대표이사 양승현 | 사업자등록번호 : 242-23-00864 | 호스팅 제공자 : AWS<br>통신판매업신고 : 2020-용인기흥-0208 | 주소 : 서울시 노원구 초안산로 12, 연지스퀘어 023호 | 연락처 : 070-7500-9698</p>
        <p class="g-mb-0 g-color-gray-dark-v3 g-pt-20 g-font-size-12 g-hidden-lg-up">아크스튜디오 (ARC STUDIO) | 대표이사 양승현 | 사업자등록번호 : 242-23-00864<br>통신판매업신고 : 2020-용인기흥-0208 | 주소 : 서울시 노원구 초안산로 12, 연지스퀘어 023호 | 연락처 : 070-7500-9698</p>
        <p class="g-mb-0 g-color-gray-dark-v3 font-weight-300 g-font-size-12 g-pt-20 text-center text-md-left">Copyright © ARC STUDIO, Inc. ALL RIGHT RESERVED.</p>
    </div>
</footer>